@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger">
    <p> Ma sinh vien: 2310900043</p>
    <p>Ho va ten: Bui Le Quoc Hung</p>
    <p>Email: quochungb3@gmail.com</p>
    <p>Phone: 0327048118</p>
    <p>Lop: K23CNT3</p>
</div>
