@{
    ViewData["Title"] = "Thong Tin Sinh Vien";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Member id :@Model.BlqhMemberId</p>
    <p>Member UserName :@Model.BlqhUserName</p>
    <p>Member Pass :@Model.BlqhPassword</p>
    <p>Member FullName :@Model.BlqhFullname<p>
    <p>Member Email :@Model.BlqhEmail<p>
</div>
