@model BlqhLesson04.Models.BlqhBook

@{
    ViewData["Title"] = "Sửa thông tin sách";
}

<h2>Sửa thông tin sách</h2>

<form asp-action="BlqhEditSubmit" method="post">
    <input type="hidden" asp-for="BlqhId" />

    <div>
        <label>Tiêu đề</label>
        <input asp-for="BlqhTitle" class="form-control" />
    </div>
    <div>
        <label>Mô tả</label>
        <textarea asp-for="BlqhDescription" class="form-control"></textarea>
    </div>
    <div>
        <label>Ảnh (đường dẫn)</label>
        <input asp-for="BlqhImage" class="form-control" />
    </div>
    <div>
        <label>Giá</label>
        <input asp-for="BlqhPrice" class="form-control" />
    </div>
    <div>
        <label>Số trang</label>
        <input asp-for="BlqhPage" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Lưu thay đổi</button>
</form>